@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,100;1,400&display=swap');
:root{
    --color-1:#001542;
    --color-2:#085454;
    --color-3:#7A7A7A;
    --color-4:#FFFFFF;
    --color-5:#FFB30D;
    --color-6:#7a7a7a69;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#f5f6fa;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    position:sticky;
    width: 100%;
    background-color:var(--color-1);
    height:50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.navbar-banner{
    color:var(--color-4);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    line-height: 50px;

}
.nav-cart{
    color: var(--color-4);
    width: 40px;
    padding: 5px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    text-align: left;

}
.cart-items{
    position: absolute;
    top: 10px;;
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: var(--color-3);
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}
.slider{
    min-height: calc(50vh - 50px);
    background:url('../images/banner.jpg') center/
    cover no-repeat;
    position: relative;


}
.brand-banner{
    background-color: var(--color-3);
    position:absolute;
    top:50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    padding: 10px;
    text-align: center;
} 
.brand-banner h3{
    font-size: 70px;
    font-family:'Dancing script',cursive;
    text-align: center;
    color: var(--color-5);
    text-shadow: 2px 1px 1px var(--color-2),
    5px 1px  2px var(--color-1);
    cursor: pointer; 
    transition: transform 0.5s ease-out;
    animation:1s ease-out 0s 1 slideanimation;
}   
.brand-banner h3:hover{
    transform: scale(1.02);
}
@keyframes slideanimation{
    0%{transform: translateY(-100%);}
    100%{transform: translateY(0);}
}
.brand-banner p{
    font-size: 16px;
    color: var(--color-4);
    text-shadow: 1px 0px 1px var(--color-5);
    font-weight: 600px;
}
.menu-item{
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
}
.menu-item ul{
   list-style-type: none; 
}
.menu-item ul li{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 80px;
    
    text-align: center;
}
.menu-item ul li a{
    color: #f5f6fa;
    text-decoration: none;

}
.menu-item ul li a:hover{
    color:var(--color-5);
    text-decoration: none;
}