@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:ital,wght@1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:ital,wght@1,100;1,400&display=swap');
:root{
    --color-1:orange;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#f5f6fa;
    font-family: 'Roboto',sans-serif;
}
.navbar{
    position:sticky;
    width: 100%;
    background-color:var(--color-1);
    height:50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}